<nav class="navbar navbar-expand-lg bg-primary-custom navbar-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">🥋 UKM Taekwondo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/anggota">Anggota</a></li>
          <li class="nav-item"><a class="nav-link" href="/jadwal">Jadwal</a></li>
          <li class="nav-item"><a class="nav-link" href="/kegiatan">Kegiatan</a></li>
          <li class="nav-item"><a class="nav-link" href="/prestasi">Prestasi</a></li>
          <% if (typeof user !== 'undefined' && user.adminLoggedIn) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-accent" href="#" role="button" data-bs-toggle="dropdown">Admin</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/admin/dashboard">Dashboard</a></li>
                <li><a class="dropdown-item" href="/admin/anggota">Anggota</a></li>
                <li><a class="dropdown-item" href="/admin/jadwal">Jadwal</a></li>
                <li><a class="dropdown-item" href="/admin/kegiatan">Kegiatan</a></li>
                <li><a class="dropdown-item" href="/admin/prestasi">Prestasi</a></li>
                <li><a class="dropdown-item" href="/admin/pendaftaran">Pendaftaran</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="/admin/logout">Logout</a></li>
              </ul>
            </li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link btn btn-accent btn-sm ms-2 px-3" href="/admin/login">Login Admin</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>